/* 레이아웃 리셋 */
*{
    /*content말고 box기준으로*/
    box-sizing: border-box;

}
.calculator {
    width: 350px;
    height: 500px;
    background-color: rgb(248, 186, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
body {
    /* 레이아웃 리셋 */
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    /*브라우저 화면의 높이만큼으 길이 100vh*/
    height: 100vh;
}
.blackbox {
    width: 88%;
    height: 17%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    background-color: rgba(118, 85, 73, 0.466);
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
}
.cal {
    width: 88%;
    height: 70%;
    margin-top: 10px;
}
.cal {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgba(118, 85, 73, 0.466) ;
}
.button {
    border: none;
    color: white;
    text-align: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.5s;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 7px;
}
.button:hover {
    background-color:rgba(147, 92, 190, 0.421) ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
    box-shadow: 0 4px 4px #666;
    transform: translateY(5px);
  }
.button1 {background-color:  rgb(219	,178	,206	);} 
.button2 {background-color: rgb(241, 173, 189);} /* Blue */
.button3 {background-color: rgb(247, 152, 143);} /* Red */
.button4 {background-color: rgb(209,156,193)} /* Gray */
.button5 {background-color: rgb(244, 216, 192);} /* Black */